*.orig
*.autosave
CMakeLists.txt.user
Doxyfile
docs/
model/
model*
build/
*.log
*.logs
*.bak
*.[oa]
*~
*.orig
dump/*
*dump*
*.swp
train_loss/*
train_loss.npy
train_loss*.npy
test_loss.npy
trace_m_*
trace__*.npz
*.h5
util/*
zoo/*
*.pyc
net_workshop/*.tmp
net_workshop2/*.tmp
trace__visualize/*
transfer_learning/
model*
tf.logs/*
tf.models/*
bag_dump*
Doxyfile
doc/
*.pickle
test_im_normalization/*
other_seqs
*.npy
*.npz
all_models
data_Akihiko_Torii*
keezi_walks*
gdb.txt
*.keras
*.remove
